/* assets/styles/base.css */


/* Set core body defaults */
body {
  font-family: var(--ff-primary);
  font-size: var(--basefont-size);
  font-weight: var(--fw-normal);
  line-height: var(--lh-normal);
  color: var(--color-fg);
  background-color: var(--color-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding: var(--fluid-size-m );
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--ff-headlines);
  font-weight: var(--fw-bold);
  line-height: var(--lh-tight);
  color: var(--color-headline);
}

/* Paragraphs */
p {
  margin-bottom: var(--size-s);
  max-width: var(--max-text-width);
}

/* Lists */
ul, ol {
  padding-left: var(--size-l);
  margin-bottom: var(--size-s);
}

li {
  margin-bottom: var(--size-xs);
}

/* Images */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Forms */
input, button, textarea, select {
  font: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  outline: none;
}

/* Buttons */
button {
  cursor: pointer;
}

/* Links */
a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

/* Tables */
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: var(--size-xs);
  text-align: left;
}

/* Horizontal Rule */
hr {
  border: none;
  border-top: 1px solid var(--color-light);
  margin: var(--size-s) 0;
}


dl{
  line-height: var(--lh-normal);
}

dl dt::after {
  content: ": ";
}

dl dt,
dl dd {
  display: inline;
  margin: 0;
}

dl dd::after {
  content: "";
  height: 0;
  display: block;
}
