:root {

  /* Colors */
  --color-pink: #d16;
  --color-green: #12DEA9;

  --color-light: hsl(0deg 0% 80%);
  --color-lighter: hsl(0deg 0% 90%);
  --color-lightest: hsl(0deg 0% 100%);
  --color-dark: hsl(0deg 0% 50%);
  --color-darker: hsl(0deg 0% 25%);
  --color-darkest: hsl(0deg 0% 0%);
  --color-darken: hsl(0deg 0% 0%/ 50%);
  --color-darken-strong: hsl(0deg 0% 0%/ 80%);
  --color-lighten: hsl(0deg 0% 100%/ 50%);
  --color-lighten-strong: hsl(0deg 0% 100%/ 80%);

  --color-headline: var(--color-green);
  --color-bg: var(--color-darkest);
  --color-fg: var(--color-lighter);


  /* System Font Stacks */
  --ff-system-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --ff-system-serif: Georgia, "Times New Roman", Times, serif;
  --ff-system-mono: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;

  /* Custom Font Stacks */
  --ff-primary: var(--ff-system-sans);
  --ff-headlines: var(--ff-system-sans);
  --ff-mono: var(--ff-system-mono);
  --ff-serif: var(--ff-system-serif);

  /* Font weights */
  --fw-light: 200;
  --fw-normal: 300;
  --fw-medium: 500;
  --fw-bold: 600;

  /* Line heights */
  --lh-tight: 100%;
  --lh-normal: 130%;
  --lh-loose: 150%;

  /* Sizes */
  /* Renard 10 */
  --basefont-size: clamp(1rem, 2vw, 1.3rem);
  --size-xxs: calc(var(--basefont-size) * 0.15);
  --size-xs:  calc(var(--basefont-size) * 0.25);
  --size-s:   calc(var(--basefont-size) * 0.6);
  --size-m:   calc(var(--basefont-size) * 1);
  --size-l:   calc(var(--basefont-size) * 1.5);
  --size-xl:  calc(var(--basefont-size) * 2.2);
  --size-2xl: calc(var(--basefont-size) * 3);
  --size-3xl: calc(var(--basefont-size) * 4);
  --size-4xl: calc(var(--basefont-size) * 6);

  --size-eighth: calc(var(--size-m) / 8);
  --size-quarter: calc(var(--size-m) / 4);
  --size-half: calc(var(--size-m) / 2);

  --fluid-size-s: clamp(1rem, 2vw, 1.3rem);
  --fluid-size-m: clamp(1.5rem, 2vw, 2rem);
  --fluid-size-l: clamp(2rem, 2vw, 3rem);
  --fluid-size-xl: clamp(3rem, 2vw, 4rem);
  --fluid-size-2xl: clamp(4rem, 2vw, 6rem);

  /* Transitions */
  --tr-fast: 0.3s;
  --tr-normal: 0.6s;
  --tr-slow: 1s;

  /* Box Sizes */
  --max-text-width: 40em;
  --max-content-width: 60em;

  /* Buttons */
  --button-border-width: var(--border-width);
  --button-border-color: var(--color-cg-pink);
  --button-text-color: var(--color-lightest);
  --button-bg-color: var(--color-darkest);
  --button-bg-hover-color: var(--color-lighten-strong);

  /* Misc */
  --border-width: 2px;
  --level-bg: 0;
  --level-fg: 10;
  --radius-m: 3px;
  --radius-l: calc(  var(--basefont-size) * 0.5);
  --text-gradient: linear-gradient(90deg,var(--color-cg-pink) , var(--color-cg-gruen));
  --text-gradient-reversed: linear-gradient(270deg,var(--color-cg-pink) , var(--color-cg-gruen));
  --box-shadow: 0 0 1em #000;
}
